a img {
  width: 80px;
}
.navbar-nav .nav-link:hover {
  color: red; /* লিংকের রঙ পরিবর্তন */
  border-bottom: 2px solid red; /* নিচে লাল লাইন */
}

.carousel {
  margin-top: 108px;
}

.card-img-top {
  height: 355px;
}
.footer{
    height: 400px;
}

  .footer a {
    color: red;
    text-decoration: none;
    font-weight: bold;
  }
  .social-icons a {
    color: #ffffff;
    font-size: 1.5em;
    margin: 0 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
  }
  .social-icons a:hover {
    background-color: #ffffff;
    color: #212121;
  }
  